<!DOCTYPE html>
<html lang="en">
<%-include("head")  %>
<body>
    <header id="header_fotos">
        <a href="/">INICIO</a>
    </header>
    <main id="main_fotos">
        <% for (index in datos_fotos){ %>
            <section id="seccion_fotos">
                <h1><%=datos_fotos[index].titulo  %></h1>
                <img src="<%=datos_fotos[index].url%>" alt="">
                <p><%=datos_fotos[index].descripcion  %></p>
                <p><%=datos_fotos[index].fecha  %></p>
                <nav>
                    <a href="/like/<%=datos_fotos[index].id%>"><span class="material-symbols-outlined">thumb_up</span></a>
                    <span class="likes_dislikes"><%=datos_fotos[index].likes%></span>
                    <a href="/dislike/<%=datos_fotos[index].id%>"><span class="material-symbols-outlined">thumb_down</span></a>
                    <span class="likes_dislikes"><%=datos_fotos[index].dislikes%></span>
                </nav>
                <form action="/enviarcomentario/<%=datos_fotos[index].id%>" method="POST">
                    <input type="text" name="usuario" id="" placeholder="Usuario..">
                    <textarea name="comentario" id="" cols="30" rows="10" placeholder="Comentario.."></textarea>
                    <button  type="submit">Enviar</button>
                </form>
                <% for (index_form in datos_comentarios){ %>
                    <% if (datos_comentarios[index_form].id_foto == datos_fotos[index].id){ %>
                        <section id="seccion_comentarios">
                            <p>Usuario: <%=datos_comentarios[index_form].usuario  %></p>
                            <p>Comentario: <%=datos_comentarios[index_form].comentario  %></p>
                            <nav><%=datos_comentarios[index_form].fecha  %></nav>
                        </section>
                    <% } %>
                <% } %>
            </section>
        <% } %>
    </main>
</body>
</html>