<!DOCTYPE html>
<html lang="en">
<%-include("head")  %>
<body>
    <header id="header_fotos">
        <a href="/">INICIO</a>
    </header>
    <main id="main_fotos">
        <% for (index in datos){ %>
            <section>
                <h1><%=datos[index].titulo  %></h1>
                <img src="<%=datos[index].url%>" alt="">
                <p><%=datos[index].descripcion  %></p>
                <p><%=datos[index].fecha  %></p>
                <nav>
                    <span class="material-symbols-outlined">thumb_up</span> 
                    <span class="likes_dislikes">4</span>
                    <span class="material-symbols-outlined">thumb_down</span> 
                    <span class="likes_dislikes">4</span>
                </nav>
            </section>
        <% } %>
    </main>
</body>
</html>