<!DOCTYPE html>
<html lang="en">
<%-include("head")  %>
<body>
    <header id="header_fotos">
        <a href="/">INICIO</a>
    </header>
    <main id="main_fotos">
        <% for (index in datos){ %>
            <section>
                <h1><%=datos[index].titulo  %></h1>
                <img src="<%=datos[index].url%>" alt="">
                <p><%=datos[index].descripcion  %></p>
                <p><%=datos[index].fecha  %></p>
                <nav>
                    <a href="/like/<%=datos[index].id%>"><span class="material-symbols-outlined">thumb_up</span></a>
                    <span class="likes_dislikes"><%=datos[index].likes%></span>
                    <a href="/dislike/<%=datos[index].id%>"><span class="material-symbols-outlined">thumb_down</span></a>
                    <span class="likes_dislikes"><%=datos[index].dislikes%></span>
                </nav>
            </section>
        <% } %>
    </main>
</body>
</html>